.header{
    border:1px solid red;
}

.imgbox{
    width:300px;
    height:200px;
}

.modalImage{
    width:70%;
    height:70%;
    border:3px solid black;
}

.formAbout{
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
    width:50%;
    margin: 0 auto;
}
.full {
    width: 100%;
}
.gap {
    height: 30px;
    width: 100%;
    clear: both;
    display: block;
}
.footer {
    margin-top:100px;
    background: #EDEFF1;
    height: auto;
    padding-bottom: 30px;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #DDDDDD;
}
.footer p {
    margin: 0;
}
.footer img {
    max-width: 100%;
}
.footer h3 {
    border-bottom: 1px solid #BAC1C8;
    color: #54697E;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    padding: 40px 0 10px;
    text-transform: uppercase;
}
.footer ul {
    font-size: 13px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 15px;
    color: #7F8C8D;
}
.footer ul li a {
    padding: 0 0 5px 0;
    display: block;
}
.footer a {
    color: #78828D
}
.supportLi h4 {
    font-size: 20px;
    font-weight: lighter;
    line-height: normal;
    margin-bottom: 0 !important;
    padding-bottom: 0;
}
.newsletter-box input#appendedInputButton {
    background: #FFFFFF;
    display: inline-block;
    float: left;
    height: 30px;
    clear: both;
    width: 100%;
}
.newsletter-box .btn {
    border: medium none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    height: 40px;
    padding: 0;
    width: 100%;
    color: #fff;
}
.newsletter-box {
    overflow: hidden;
}
.bg-gray {
    background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
    box-shadow: 0 1px 0 #B4B3B3;
}
.social li {
    background: none repeat scroll 0 0 #B5B5B5;
    border: 2px solid #B5B5B5;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    float: left;
    height: 36px;
    line-height: 36px;
    margin: 0 8px 0 0;
    padding: 0;
    text-align: center;
    width: 36px;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}
.social li:hover {
    transform: scale(1.15) rotate(360deg);
    -webkit-transform: scale(1.1) rotate(360deg);
    -moz-transform: scale(1.1) rotate(360deg);
    -ms-transform: scale(1.1) rotate(360deg);
    -o-transform: scale(1.1) rotate(360deg);
}
.social li a {
    color: #EDEFF1;
}
.social li:hover {
    border: 2px solid #2c3e50;
    background: #2c3e50;
}
.social li a i {
    font-size: 16px;
    margin: 0 0 0 5px;
    color: #EDEFF1 !important;
}
.footer-bottom {
    background: #E3E3E3;
    border-top: 1px solid #DDDDDD;
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer-bottom p.pull-left {
    padding-top: 6px;
}
.payments {
    font-size: 1.5em;
}


.table {

    max-height:100%;
    margin:0;
    table-layout: fixed;
}


.table_input{
    width:100%;
    height:100%;
    color:blue;
    display: block;
    padding: 0;
    margin: 0;
    border: 0;
}

.table th,td {
    vertical-align: middle !important;
    height: 40px;
    margin: 0;
    padding: 0;
}

table td > div {
    line-height: 2;
    max-height:100%;

}
.five{
    width: 7%;
    background: chartreuse;
}
.seven{
    width: 7%;
    background: gold;
}
.ten {
    width: 12%;
    background: tomato;
}
.sixtyfive {
    width: 60%;
    background: turquoise
}

.db_table{
    width:100%;
    display: flex;
    flex-direction: column;
    background-color: #6cffb1;

}

.scrollable {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.fas{
    display: inline-block;
    vertical-align:middle;
}


.nav li{
    display: inline-block;
    font-weight: bolder;
    text-transform: uppercase;
    vertical-align:middle;
}

.fas{
    font-size: 25px;
}

.loader {
    align-self: center;
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.btn_logout{
    padding: 0;
    margin: 50% 0 0;
    border:none;
    background: none;
}

.navbar-right {
    display: flex;
    align-content: center;
}
.filter_input{
    width:100%;
}

.filter_input input:first-child{
    width: 12%;
}
.filter_input input:nth-child(2){
    width: 11%;
}

.filter_input input:nth-child(3){
    width: 7%;
}
.filter_input input:last-child{
    width: 57%;
}

